/* Aside */
.sidebar-wrapper {
  max-width: 25vw;
  width: 25vw;
  padding: 1rem 1rem;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container {
  margin-left: 25vw;
  margin-right: 15vw;
}

.sidebar-group {
  border-bottom: 1px solid transparent;
}
.sidebar-group-item {
  text-decoration: none;
  color: var(--text-main);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
  border-radius: 3rem;
  transition: 0.3s;
}
.sidebar-group-item span {
  display: inline;
  margin: 1rem 0.5rem 1rem 1rem;
}
.sidebar-group-item p {
  display: inline;
  margin: 1rem 1rem 1rem 0.5rem;
}
.sidebar-group-item:hover {
  text-decoration: none;
  color: var(--green);
  background-color: var(--green-opacity);
}
.twitter-btn {
  width: 100%;
  border-radius: 3rem;
  padding: 1rem;
  text-align: center;
}

.post-wrapper {
  border: 1px solid var(--gray);
  padding: 1rem 2rem;
  /* border-radius: 3rem; */
}
.post-wrapper .down {
  padding: 1rem 2rem 1rem 3rem;
  /* border-radius: 3rem; */
}
.post-wrapper .up h1 {
  display: inline;
  font-size: 1rem;
  color: var(--text-main);
  margin: 1rem 0 0 0;
}
.post-wrapper .up h3 {
  display: inline;
  font-size: 1rem;
  color: var(--text-main-opacity);
  margin: 0;
}