{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
{% endblock %}

{% block content %}
<form class="login-page" action="" method="POST">

  {{ form.csrf_token }}
  
  <div class="form">
    <div class="form-group row">
      <label>Email</label>
      {{ form.username(class='form-control', placeholder='meu.email@email.com') }}
    </div>

    <div class="form-group row">
      <label>Email</label>
      {{ form.password(class='form-control', placeholder='........') }}
    </div>

    <div class="checkbox row">
      <label>Remember Me?
        {{ form.rememberMe(class='')}}
        <label>
    </div>

    <button type="submit" class="btn btn-success row">Entrar</button>
  </div>
</form>

{% endblock %}